name: SonarCloud analiza

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      - name: Build and analyze (SonarCloud)
      
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B -f RIS_todoapp/backend/ris_todoapp/pom.xml clean verify -DskipTests sonar:sonar \
            -Dsonar.organization=jernejerot \
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.token=${SONAR_TOKEN}
